<form action="/<%= @file %>" method="post" class="edit">
<p>Edit changes:</p>

<textarea name="content" cols=100 rows=20>
<%= @text %> 
</textarea>


<p><button type="submit">Save Changes</button></p>
</form>