
<form action="/create" method="post">
  <label for="content">Add a new document:</label>
  <div>
    <input type="text" name="content" id="filename" value=<%= params[:content] %>> 
    <button type="submit">Create</button>
  </div>
</form>